.actions-container {
  margin-bottom: 24px;
}

.actions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h3 {
    margin: 0;
  }
}

.action-title {
  margin-left: 8px;
}

.action-magnitude {
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}
